.box {
  margin-bottom: 164px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    margin-bottom: 44px;
  }
}

@media (max-width: 756px) {
  .box {
    margin-bottom: 80px;

    &__title {
      margin-bottom: 24px;
    }
  }
}
