.questions {
  margin-bottom: 80px;

  &__item {
    overflow: hidden;
    border-bottom: 1px solid #424242;
  }

  &__title {
    margin-bottom: 56px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__question {
    font-weight: 600;
    padding: 20px 0;
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 20px 20px 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
  }

  &__answer--visible {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
  }

  &__img {
    transition: all 0.3s;
  }

  &__img--transform {
    transform: rotate(180deg);
  }
}

@media (max-width: 756px) {
  .questions {
    margin-bottom: 40px;

    &__title {
      margin-bottom: 34px;
    }

    &__answer {
      font-size: 14px;
    }
  }
}
