.logo {
  cursor: pointer;
}

.logo__image {
  background-image: url("../../assets/icons/logo.svg");
  background-repeat: no-repeat;
  width: 166px;
  height: 43px;
}

@media (max-width: 520px) {
  .logo__image {
    background-image: url("../../assets/icons/logo-min.svg");
    width: 80px;
    height: 21px;
  }
}
